.logout {
    animation: fadeIn .5s;
}

.autoremove {
    animation: fadeInOut 5s;
    animation-fill-mode: forwards;
    height: fit-content;
    margin: 0px 25px;
    float: right;
}

.loggedin-alert {
    padding-right: 10px;
}

.nav-link{
    width: fit-content;
}