/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(-45deg, #ee7752, #e53ae2, #23a6d5, #23d54c);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

.card {
  animation: fadeIn .5s;
  box-shadow: 5px 5px 15px;
}

.alert {
  padding: 5px;
  animation: fadeIn .5s;
}

.div-center {
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 40%;
  max-height: 410px;
  overflow: auto;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(62, 62, 62);
}